asgiref==3.7.2
Babel==2.15.0
beautifulsoup4==4.12.2
click==8.1.7
colorama==0.4.6
crispy-bootstrap5==2024.2
dj-database-url==2.0.0
Django==4.2.4
django-bootstrap-v5==1.0.11
django-crispy-forms==2.2
django-faker==0.2
django-money==3.5.2
fake-factory==9999.9.9
Faker==26.0.0
gunicorn==21.2.0
h11==0.14.0
packaging==23.1
pillow==10.4.0
psycopg2-binary==2.9.6
py-moneyed==3.0
python-dateutil==2.9.0.post0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
uvicorn==0.30.5
whitenoise==6.5.0
